.container {
    .title-area {
        .desc {
            margin-bottom: 5px;
            font-size: max(14px, 1.171875vw);
            font-weight: 800;

            @include tb {
                margin-bottom: 0;
            }
        }

        .headline {
            font-size: 36px;
            font-weight: 900;
            line-height: 1.2;

            @include tb {
                font-size: max(28px, 3vw);
            }

            @include m {
                font-size: max(26px, 3vw);
                line-height: 1.3;
            }
        }
    }

    .pointer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        pointer-events: none;

        &.on {
            .pointer-box {
                opacity: 1;
                visibility: visible;
            }
        }

        .pointer-box {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            width: 100px;
            height: 100px;
            font-size: 13px;
            background-color: #e74e1d;
            color: #fff;
            font-weight: 800;
            border-radius: 50%;
            transition: all .3s ease-out;
        }
    }

    .sc-visual {
        padding-top: 220px;

        @include tb {
            padding-top: 180px;
        }

        @include m {
            padding-top: 130px;
        }

        .inner {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .title-area {
            .headline {
                position: absolute;
                opacity: 0;
                visibility: hidden;

                &.on {
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .slide-move {
            position: relative;
            width: 280px;
            height: 50px;
            margin-bottom: -20px;
            margin-right: 50px;

            @include tb {
                width: 160px;
            }

            @include m {
                display: none;
            }
        }

        .slide-box {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            font-size: 13px;
            font-weight: 700;
            text-align: left;

            .swiper-bar {
                position: relative;
                width: calc(100% - 80px);
                display: block;
                z-index: 1;
                height: 2px;
                margin: 90px auto 0;

                .slide-bar {
                    position: absolute;
                    height: 2px;
                    background: rgba(0, 0, 0, 0.3);
                    width: auto;
                    clear: both;
                    opacity: 0;
                    bottom: 45px;
                    left: 0;
                    right: 0;

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #000;
                        height: 100%;
                        width: 0;
                        content: "";
                        transition: 0.1s width linear;
                    }
                }

                &.active {
                    .slide-bar {
                        opacity: 1;
                    }
                }

                &.animate {
                    .slide-bar {
                        &:after {
                            transition: width linear;
                            transition-delay: unset;
                            width: 100%;
                            transition-duration: 5s;
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 50%;
                right: -15px;
                transform: translateY(50%);
                font-size: 13px;
            }
        }

        .btn-wrap {
            display: flex;
            position: absolute;
            top: 50%;
            right: -15px;
            transform: translate(100%, -50%);
            font-size: 13px;

            .btn {
                position: static;
                width: auto;
                height: auto;
                margin-top: 0;
                transition: all .3s;

                &+.btn {
                    margin-left: 10px;
                }
            }

            svg {
                transition: .3s;
                cursor: pointer;
                fill: #bcbcbc;

                &:hover {
                    fill: #000;
                }
            }
        }

        .swiper {
            margin-top: 60px;

            @include tb {
                margin-top: 40px;
            }

            @include m {
                margin-top: 20px;
            }

            .swiper-slide {
                position: relative;

                @include tb {
                    width: 485px;
                    height: 485px;
                }

                img {
                    @include tb {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

    .sc-room {
        position: relative;
        overflow: hidden;
        margin-top: 130px;

        @include m {
            margin-top: 80px;
        }

        .inner {
            position: relative;

            @include tb {
                padding-right: 0;
            }
        }

        .title-area {
            padding-bottom: 40px;
            border-bottom: 1px solid #bcbcbc;

            @include tb {
                border-bottom: 1px solid #eee;
                padding-bottom: 30px;
            }

            @include m {
                padding-bottom: 20px;
            }
        }

        .swiper {
            cursor: none;

            .swiper-slide {
                position: relative;
                padding: 40px 0px 50px;

                @include tb {
                    padding: 25px 0 30px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -40px;
                    width: 1px;
                    height: calc(100% + 2px);
                    background-color: #bcbcbc;

                    @include tb {
                        left: -20px;
                        background-color: #eee;
                    }

                    @include m {
                        left: -15px;
                    }
                }
            }

            .top-area {
                position: relative;

                @include tb {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0;
                }
            }

            .user-wrap {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                &.pc {
                    display: block;

                    @include tb {
                        display: none;
                    }
                }

                &.mobile {
                    display: none;

                    @include tb {
                        display: flex;
                    }
                }

                img {
                    flex-shrink: 0;
                    overflow: hidden;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;

                    @include tb {
                        width: 25px;
                        height: 25px;
                    }
                }

                span {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 500;

                    @include tb {
                        margin-left: 7px;
                        font-size: 11px;
                    }

                    @include m {
                        margin-left: 4px;
                    }
                }
            }

            .desc {
                margin-top: 10px;
                display: -webkit-box;
                overflow: hidden;
                width: 87%;
                min-height: 126px;
                padding-bottom: 2px;
                font-size: 22px;
                font-weight: 800;
                word-break: keep-all;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-decoration-line: underline;
                text-decoration-color: black;
                text-decoration-style: solid;
                text-underline-position: under;
                text-underline-offset: 2px;
                line-height: 1.6;
                min-height: 105px;

                @include pc {
                    min-height: 105px;
                }

                @include tb {
                    width: 100%;
                    min-height: 3.2em;
                    margin-bottom: 15px;
                    -webkit-line-clamp: 2;
                    font-size: 16px;
                    margin-top: 0;
                }

                @include m {
                    text-decoration: none;
                }
            }

            .txt-box {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translateY(50%);

                @include pc-md {
                    bottom: -10px;
                    transform: translateY(100%);
                }

                @include tb {
                    position: relative;
                    bottom: auto;
                    right: auto;
                    transform: none;
                    margin-left: auto;
                }

                &:hover {
                    span {
                        opacity: 1;
                    }
                }

                span {
                    position: absolute;
                    top: 50%;
                    left: -10px;
                    transform: translate(-100%, -50%);
                    opacity: 0;
                    max-width: 140px;
                    padding: 3px 8px;
                    background-color: #EDEDED;
                    font-size: 11px;
                    transition: all .3s;
                    border-radius: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    @include m {
                        display: none;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;

                    @include tb {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .img-area {
                display: block;
                overflow: hidden;
                position: relative;
                margin-top: 35px;

                @include pc-md {
                    margin-top: 70px;
                }

                @include tb {
                    margin-top: 10px;
                }

                &:hover .bg-txt {
                    transform: translateY(0);
                }

                .img-wrap {
                    overflow: hidden;
                    position: relative;
                    padding-top: 70%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: all .3s;
                    }
                }

                .bg-txt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40px;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    font-weight: 500;
                    text-align: center;
                    transform: translateY(100%);
                    transition: all .3s;

                    @include tb {
                        transform: translateY(0);
                    }
                }

                .ico-text {
                    display: flex;

                    &+.ico-text {
                        margin-left: 40px;
                    }

                    svg {
                        width: 15px;
                        font-weight: 900;

                        path {
                            fill: #fff;
                        }
                    }

                    span {
                        margin-left: 10px;
                        font-size: 13px;
                    }
                }
            }
        }

        @keyframes rotateTriangle {
            0% {
                transform: translateY(-50%) rotate(0deg);
            }

            100% {
                transform: translateY(-50%) rotate(360deg);
            }
        }

        .side-img {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 154px;
            animation: rotateTriangle 10s linear infinite;

            @include tb {
                display: none;
            }
        }

        .link-wrap {
            padding: 30px 0;
            border-top: 1px solid #bcbcbc;
            border-bottom: 1px solid #bcbcbc;
            font-size: 30px;
            font-weight: 700;

            @include tb {
                padding: 20px 0;
                font-size: 20px;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
            }

            @include m {
                font-size: 16px;
            }

            &:hover {
                svg {
                    transform: translateX(10px);
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span {
                display: inline-block;
            }

            svg {
                display: inline-block;
                flex-shrink: 0;
                width: 35px;
                margin-left: 20px;
                transition: all .3s;

                @include tb {
                    width: 30px;
                }

                @include m {
                    width: 25px;
                }

                .cls-1 {
                    stroke: #000;
                    stroke-miterlimit: 10;
                }

                .cls-1,
                .cls-2 {
                    fill: none;
                }
            }
        }
    }

    .sc-item {
        position: relative;
        margin-top: 150px;

        @include m {
            margin-top: 80px;
        }

        .swiper {
            margin-top: 80px;
            cursor: none;

            @include tb {
                margin-top: 40px;
            }

            @include m {
                margin-top: 20px;
            }

            .link-wrap {
                display: flex;
                justify-content: end;

                a {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: #999;
                    transition: all .3s;

                    @include tb {
                        font-size: 12px;
                    }

                    @include m {
                        font-size: 11px;
                        font-weight: 600;
                    }
                }

                strong {
                    margin-left: 5px;
                    font-weight: 600;
                }
            }

            .img-wrap {
                display: block;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    transition: all .3s;
                }
            }

            .menu {
                display: flex;
                flex-wrap: wrap;
                margin-top: 30px;
                margin-bottom: 15px;
                color: #999;

                @include m {
                    margin-top: 15px;
                    margin-bottom: 6px;
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    transition: all .3s;

                    @include tb {
                        font-size: 12px;
                    }

                    @include m {
                        font-size: 10px;
                    }

                    &:last-child::before {
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        margin: 0 8px;
                        background-color: #B3B3B3;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                }
            }

            .title {
                display: block;
                overflow: hidden;
                font-size: 22px;
                font-weight: 800;
                word-break: break-all;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration-line: underline;
                text-decoration-color: #000;
                text-decoration-style: solid;
                text-underline-position: under;
                text-underline-offset: 2px;
                line-height: 1.6;

                @include m {
                    font-size: 13px;
                    text-decoration: none;
                }
            }

            .desc {
                display: -webkit-box;
                overflow: hidden;
                height: 1.5em;
                margin-top: 15px;
                white-space: normal;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                font-size: 15px;

                @include tb {
                    margin-top: 10px;
                    font-size: 13px;
                }

                @include m {
                    -webkit-line-clamp: 1;
                    height: 1.5em;
                    margin-top: 4px;
                    font-size: 12px;
                }
            }

            .price {
                display: flex;
                align-items: center;
                margin-top: 20px;
                color: #000;
                font-size: 26px;
                font-weight: 700;
                line-height: 1;

                @include pc {
                    margin-top: 25px;
                }

                @include tb {
                    margin-top: 15px;
                    font-size: 20px;
                }

                @include m {
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
        }

        .inner>.link-wrap {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            margin-top: 90px;

            @include tb {
                font-size: 20px;
                margin-top: 60px;
            }

            @include m {
                font-size: 16px;
            }

            &:hover {
                svg {
                    transform: translateX(10px);
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline-block;
                }

                svg {
                    display: inline-block;
                    flex-shrink: 0;
                    width: 35px;
                    margin-left: 20px;
                    transition: all .3s;

                    @include tb {
                        width: 30px;
                    }

                    @include m {
                        width: 25px;
                    }

                    .cls-1 {
                        stroke: #000;
                        stroke-miterlimit: 10;
                    }

                    .cls-1,
                    .cls-2 {
                        fill: none;
                    }
                }
            }
        }
    }

    .sc-tab {
        padding-top: 150px;
        margin-top: 150px;
        border-top: 1px solid #bcbcbc;

        @include m {
            padding-top: 80px;
            margin-top: 80px;
        }

        .tab-menu {
            display: flex;
            align-items: flex-start;

            @include m {
                display: none;
            }
        }

        .tab-item {
            width: 33.333%;
            color: #E1E1E1;
            text-align: left;
            transition: all .3s;
            cursor: pointer;

            @include tb {
                display: none;
            }

            &:hover {
                color: #000;
            }

            &.active {
                color: #000;
            }

            &+.tab-item {
                margin-left: 30px;
            }

            .number {
                display: block;
                font-size: 28px;
                font-weight: 700;
            }

            .desc {
                display: inline-block;
                margin-top: 20px;
                font-size: 41.6px;
                font-weight: 900;
                word-break: keep-all;
                line-height: 1.3;
            }
        }

        .tab-img {
            margin-top: 50px;

            .tab-item {
                display: none;
                width: 100%;
                margin-bottom: 20px;

                @include tb {
                    display: block;
                }

                .number {
                    color: #000;
                    display: block;
                    font-size: max(18px, 3vw);
                    font-weight: 700;
                }

                .desc {
                    color: #000;
                    font-size: max(18px, 3vw);
                    font-weight: 900;
                    line-height: 1.3;
                    margin-top: 0;
                }
            }

            .pc {
                display: block;

                @include tb {
                    display: none;
                }
            }

            .mobile {
                display: none;

                @include tb {
                    display: block;
                }
            }
        }
    }

    .sc-seller {
        margin-top: 200px;

        @include tb {
            margin-top: 160px;
        }

        @include m {
            margin-top: 80px;
        }

        .inner {
            display: flex;
            align-items: flex-start;

            @include tb {
                flex-wrap: wrap;
            }

            @include m {
                padding-right: 0;
            }
        }

        // sticky 적용 안되는 문제는 최상단에 "overflow : hidden"이 없어야 하고 align-items: flex-start; 써야함
        .title-area {
            display: flex;
            align-items: center;
            position: sticky;
            top: 0px;
            margin: 0px 60px 0px 0px;
            height: 100vh;
            flex: 1;

            @include tb {
                height: auto;
            }

            .textbox {
                .img-wrap {
                    @include tb {
                        display: none;
                    }

                    img {
                        width: 85%;
                    }
                }
            }

        }

        .col-right {
            flex: 1;
            margin-top: 120px;
            margin: 0 0px -80px;

            @include tb {
                display: none;
            }
        }

        .content-list {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
            margin: 0 0px -80px;

            li {
                width: calc(50% - 40px);
                height: auto;

                .link-wrap {
                    a {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #999;
                        transition: all .3s;
                    }

                    strong {
                        margin-left: 5px;
                        font-weight: 600;
                    }
                }

                .content {
                    &:hover img {
                        transform: scale(1.1);
                    }

                    .img-wrap {
                        display: block;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all .3s;
                        }
                    }

                    .menu {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 30px;
                        margin-bottom: 15px;
                        color: #999;

                        span {
                            display: inline-flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 1;
                            transition: all .3s;

                            &:last-child::before {
                                content: "";
                                display: inline-block;
                                width: 4px;
                                height: 4px;
                                margin: 0 8px;
                                background-color: #B3B3B3;
                                border-radius: 50%;
                                vertical-align: middle;
                            }
                        }

                    }

                    .title {
                        display: block;
                        overflow: hidden;
                        font-size: 22px;
                        font-weight: 800;
                        word-break: break-all;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-underline-position: under;
                        text-underline-offset: 2px;
                        line-height: 1.6;
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        margin-top: 25px;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }
        }

        .btn-img {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            position: relative;
            height: 130px;
            margin-top: 200px;
            background-color: #F74E1D;
            color: #fff;
            border-radius: 10px;

            .view-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    svg {
                        transform: translateX(-50px);
                    }
                }

                span {
                    display: inline-block;
                    transform: translateX(-60px);
                }

                svg {
                    display: inline-block;
                    flex-shrink: 0;
                    width: 35px;
                    margin-left: 20px;
                    transition: all .3s;
                    transform: translateX(-60px);

                    .cls-1 {
                        stroke: #fff;
                        stroke-miterlimit: 10;
                    }

                    .cls-1,
                    .cls-2 {
                        fill: none;
                    }
                }

                .char-img {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(80px, 15%);
                    z-index: 2;
                }

                .char-bg {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(200px);
                    width: 20%;
                }
            }
        }

        .mo-right {
            display: none;

            @include tb {
                display: block;
                width: 100%;
                margin-top: 40px;
            }

            @include m {
                margin-top: 20px;
            }

            .item {
                width: 100%;
                margin-bottom: 0;

                .txt {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: #999;
                    transition: all .3s;

                    @include tb {
                        font-size: 12px;
                    }

                    @include m {
                        font-size: 11px;
                        font-weight: 600;
                    }

                    strong {
                        margin-left: 5px;
                        font-weight: 600;
                    }
                }

                &:hover img {
                    transform: scale(1.1);
                }

                .img-box {
                    display: block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all .3s;
                    }
                }

                .text-box {

                    .type {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 30px;
                        margin-bottom: 15px;
                        color: #999;

                        @include m {
                            margin-top: 15px;
                            margin-bottom: 6px;
                        }

                        span {
                            display: inline-flex;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 1;
                            transition: all .3s;

                            @include tb {
                                font-size: 12px;
                            }

                            @include m {
                                font-size: 10px;
                            }

                            &:last-child::before {
                                content: "";
                                display: inline-block;
                                width: 4px;
                                height: 4px;
                                margin: 0 8px;
                                background-color: #B3B3B3;
                                border-radius: 50%;
                                vertical-align: middle;
                            }
                        }

                    }

                    .tit {
                        display: block;
                        overflow: hidden;
                        font-size: 22px;
                        font-weight: 800;
                        word-break: break-all;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-underline-position: under;
                        text-underline-offset: 2px;
                        line-height: 1.6;

                        @include tb {
                            font-size: 16px;
                        }

                        @include m {
                            font-size: 13px;
                            text-decoration: none;
                        }
                    }

                    .price-txt {
                        display: flex;
                        align-items: center;
                        margin-top: 25px;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 1;

                        @include tb {
                            margin-top: 15px;
                            font-size: 20px;
                        }

                        @include m {
                            margin-top: 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .sc-behind {
        margin-top: 280px;

        @include tb {
            margin-top: 160px;
        }

        @include m {
            padding-top: 80px;
            margin-top: 80px;
            border-top: 1px solid #eee;
        }

        .text-area {
            text-align: center;

            .title {
                font-size: 52px;
                font-weight: 800;
                text-align: center;
                line-height: 1.3;

                @include m {
                    font-size: calc(28px*0.8);
                }
            }

            .move-text {
                overflow: hidden;
                position: relative;
                transform: rotate(-12deg);
                width: 500px;
                height: 87px;
                margin: -15px auto 0;

                @include tb {
                    transform: rotate(-10deg);
                    width: 450px;
                    height: 78px;
                }

                @include m {
                    max-width: 100%;
                    margin-top: 0;
                }

                .move-textbox {
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%) rotate(4deg);
                    width: calc(100% - 15px);

                    .text {
                        display: flex;
                        flex: 0 0 auto;
                        overflow: hidden;
                        color: #fff;
                        font-size: 15px;
                        font-weight: 700;
                        white-space: nowrap;
                        transition: 0.3s;

                        @include m {
                            font-size: 13px;
                        }

                        @keyframes textLoop {
                            from {
                                transform: translate3d(0, 0, 0);
                            }

                            to {
                                transform: translate3d(-100%, 0, 0);
                            }
                        }

                        span {
                            padding-right: 10px;
                            color: #fff;
                            animation: textLoop 10s linear infinite;
                            line-height: 1.1;
                        }
                    }
                }
            }
        }

        .now-area {
            position: relative;
            margin-top: 120px;
            min-height: 300px;

            @include tb {
                margin-top: 80px;
                display: flex;
                flex-direction: column-reverse;
                border-top: 1px solid #eee;
            }

            @include m {
                margin-top: 35px;
            }

            .title-wrap {
                display: flex;
                align-items: baseline;
                padding: 35px 50px;
                border-top: 1px solid #bcbcbc;
                border-bottom: 1px solid #bcbcbc;
                transition: all .3s;

                @include tb {
                    display: block;
                }

                @include m {
                    padding: 5px 0 20px;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                }

                strong {
                    width: 65px;
                    margin-right: 60px;
                    color: #e74e1d;
                    font-size: 18px;
                    font-weight: 600;

                    @include pc-md {
                        margin-right: 40px;
                    }

                    @include tb {
                        margin-top: 1em;
                        font-size: 14px;
                    }

                    @include m {
                        font-size: 12px;
                    }
                }
            }

            .content {
                width: 60%;

                @include pc-md {
                    width: 65%;
                }

                @include tb {
                    width: 80%;
                }

                @include m {
                    width: 100%;
                }

                .link {
                    font-size: 23px;
                    font-weight: 800;
                    transition: all .3s;

                    @include pc-md {
                        font-size: 21px;
                    }

                    @include tb {
                        font-size: 18px;
                    }

                    @include m {
                        font-size: 16px;
                    }
                }

                .tag-list {
                    display: flex;
                    flex-wrap: wrap;
                    min-width: 0;
                    margin-bottom: -5px;
                    margin-left: -8px;
                    margin-top: 10px;

                    li {
                        display: block;
                        overflow: hidden;
                        padding: 4px 8px;
                        margin-bottom: 8px;
                        margin-left: 8px;
                        background-color: #EDEDED;
                        color: #000;
                        font-size: 12px;
                        font-weight: 500;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        border-radius: 20px;
                        transition: background 0.75s,
                            color 0.75s;

                        @include tb {
                            padding: 3px 6px;
                            margin-bottom: 6px;
                            margin-left: 6px;
                            font-size: 11px;
                        }

                        &:hover {
                            background: #000;
                            color: #fff;
                        }
                    }
                }
            }

            &:hover {
                .img-wrap {
                    transform: rotate(-5deg);
                }
            }

            .img-area {
                position: absolute;
                top: 0;
                right: 0;
                width: 20%;
                height: auto;
                padding-top: 23%;

                @include tb {
                    position: relative;
                    width: 100%;
                    padding-top: 20px;
                }

                .img-wrap {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(-15deg);
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    transition: all .3s;

                    @include tb {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-top: 75%;
                        background: #f4f4f4;
                        transform: rotate(0deg);
                    }

                    img {
                        position: absolute;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;

                        @include tb {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

        }
    }

    .sc-intro {
        display: block;
        margin-top: 150px;
        margin-bottom: 150px;

        @include tb {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        @include m {
            margin: 80px 0;
        }

        .inner {
            @include tb {
                padding: 0 max(2.5vw, 15px);
            }

            @include m {
                padding: 0;
            }

            a {
                display: block;
                position: relative;
            }

            .img-wrap {
                overflow: hidden;
                position: relative;
                width: 100%;
                padding-top: 30%;

                @include m {
                    padding-top: max(50%, 200px);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                }

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: all .5s;
                }
            }

            .content {
                position: absolute;
                top: 50%;
                right: 15%;
                transform: translate(0, -50%);
                z-index: 1;
                color: #fff;

                @include m {
                    left: 20px;
                    right: unset;
                }

                .desc {
                    margin-bottom: 10px;
                    font-size: 23px;
                    font-weight: 700;

                    @include pc {
                        font-size: 21px;
                    }

                    @include tb {
                        font-size: 14px;
                    }
                }

                .title {
                    white-space: nowrap;
                    font-size: 52px;
                    font-weight: 900;
                    line-height: 1.1;

                    @include m {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

.sc-advertise {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .65);
    opacity: 0;
    visibility: hidden;

    &.on {
        z-index: 99999;
        opacity: 1;
        visibility: visible;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3000;
        width: 400px;
        max-width: calc(100vw - 30px);
    }

    .img-wrap {
        padding-top: 115%;
        position: relative;

        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            object-position: center;
        }
    }

    .close-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        label {
            cursor: pointer;
            color: #fff;
            height: 100%;
            font-size: 13px;
            display: flex;
            align-items: center;
            position: relative;

            .popupCheck {
                margin-right: 3px;
            }

            .check {
                width: 1.2em;
                height: 1.2em;
                margin: 0 7px 1px 0;
                z-index: 1;
                fill: #fff;
                position: relative;

                svg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    &.on {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &.off {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &.on {
                svg {
                    &.on {
                        opacity: 1;
                        visibility: visible;
                    }

                    &.off {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            .desc {
                line-height: 1em;
            }
        }

        .btn-close {
            display: flex;
            align-items: center;
            background: none;
            font-size: 13px;
            margin-left: auto;
            color: #fff;

            svg {
                fill: #fff;
                margin-right: 0.5em;
                font-size: 1.2em;
            }

            span {
                line-height: 1em;
            }
        }
    }
}

.sc-login {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    padding: 150px 0 80px;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.2s ease-in-out;

    &.none {
        opacity: 0;
        visibility: hidden;
        z-index: -100;
    }

    .group-login {
        position: relative;
        width: 400px;
        max-width: 100%;
        padding: 40px;
        margin: 0 auto;
        background-color: #fff;

        .tit-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 35px;

            .title {
                font-size: 24px;
                font-weight: 800;
            }

            button {
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                display: block;
                position: relative;
                width: 100%;
                height: 50px;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                line-height: 48px;
                text-align: center;
                transition: all .3s;

                &.naver {
                    background-color: #2DB400;
                }

                &.kakao {
                    background-color: #FAE100;
                    color: #000;
                }

                &.google {
                    background-color: #fff;
                    border: 2px solid #eee;
                    color: #000;
                }

                &.black {
                    background: #000;
                }

                img {
                    width: 18px;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                }
            }
        }

        .text-area {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            a {
                position: relative;
                color: #999;
                font-size: 13px;
                font-weight: 600;
                transition: all .3s;
            }

            .find {
                margin-left: 17px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -8px;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 10px;
                    background-color: #bcbcbc;
                }
            }
        }
    }
}

.sc-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .3s;

    &.none {
        z-index: -100;
        opacity: 0;
        visibility: hidden;
    }

    .group-signup {
        position: relative;
        width: 400px;
        max-width: 100%;
        padding: 40px 40px 110px;
        margin: 0 auto;
        background-color: #fff;
        z-index: 9999;

        .tit-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 35px;

            .title {
                font-size: 24px;
                font-weight: 800;
            }

            button {
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }

        .desc {
            margin-bottom: 20px;
            font-size: 17px;
            font-weight: 600;
        }

        .check-box {
            .txt {
                display: flex;
                justify-content: space-between;

                .em {
                    font-size: 14px;
                    font-weight: 500;

                    &::after {
                        content: "*";
                        margin-left: 3px;
                        color: #e74e1d;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                a {
                    border-bottom: 1px solid #c4c4c4;
                    color: #C4C4C4;
                    font-size: 13px;
                    font-weight: 500;
                }
            }

            .check {
                label {
                    display: block;
                    height: 50px;
                    margin-top: 8px;
                    border: 2px solid #000;
                    font-weight: 600;
                    line-height: 48px;
                    text-align: center;
                    cursor: pointer;
                }
            }

            &+.check-box {
                margin-top: 15px;
            }
        }

        .age-check {
            margin-top: 10px;
            color: #666;
            font-size: 13px;
            font-weight: 500;

            input {
                &:checked+label svg {
                    fill: #000 !important;
                }
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    fill: #bcbcbc;
                    margin-right: 3px;
                }
            }
        }

        .next {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #000;
            color: #fff;
            font-size: 17px;
            font-weight: 700;
            line-height: 58px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.search-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .3s;

    &.on {
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }

    .btn-close {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 40px;

        svg {
            height: 1em;
            stroke: #fff;
        }
    }

    .txt-wrap {
        width: 440px;
        max-width: 100%;
        padding: 0 20px;
        color: #fff;

        form {
            .search-wrap {
                display: flex;
            }

            .input-wrap {
                flex: 1;

                input {
                    width: 100%;
                    padding-bottom: 15px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #fff;
                    font-size: 24px;
                    font-weight: 700;

                    &::placeholder {
                        color: #fff;
                    }
                }
            }

            .btn {
                font-size: 32px;

                svg {
                    fill: #fff;
                }
            }
        }

        .tag-list {
            margin-top: 25px;

            li {
                display: block;
                font-size: 16px;
                font-weight: 600;

                &+li {
                    margin-top: 5px;
                }
            }
        }
    }
}