.footer {
    position: relative;
    z-index: 30;
    padding: 65px 0 120px;
    background-color: #fff;
    border-top: 1px solid #bcbcbc;

    @include tb {
        padding: 20px 0 60px;
        border-top: 1px solid #eee;
    }

    .sc-top {
        position: fixed;
        bottom: 20px;
        width: 60px;
        height: 60px;
        right: 20px;
        background-color: #e74e1d;
        border-radius: 50%;
        opacity: 0;
        transition: background 0.2s ease-in-out,
            opacity .5s,
            bottom 0.5s;

        @include pc {
            width: 50px;
            height: 50px;
        }

        @include tb {
            bottom: 25px;
            right: max(2.5vw, 15px);
            width: 35px;
            height: 35px;
        }

        &:hover {
            background-color: #000;
        }

        &.no-fix {
            position: absolute;
            transform: translateY(-100%);
            top: -20px;
            opacity: 1;
        }

        &.block {
            opacity: 1;
        }

        .top-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            cursor: pointer;

            svg {
                width: 15px;

                @include tb {
                    width: 12px;
                }
            }
        }
    }

    .footer-wrap {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 200px;
        align-items: flex-start;

        @include pc {
            grid-template-columns: 1fr;
            align-items: stretch;
        }

        @include m {
            padding-right: 0;
        }
    }

    .center-box {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 80px;

        @include pc {
            order: 2;
        }
    }

    .group-list {
        &.pc {
            display: flex;
            flex-direction: column;

            @include pc {
                display: none;
            }

            li {
                font-size: 18px;

                &+li {
                    margin-top: 9px;
                }
            }
        }

        &.mobile {
            display: none;

            @include pc {
                display: flex;
                margin-bottom: 45px;
            }

            @include tb {
                overflow: hidden;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        li {
            @include pc {
                font-weight: 500;
            }

            @include m {
                white-space: nowrap;
            }

            &+li {
                @include pc {
                    margin-left: 20px;
                }

                @include m {
                    margin-left: 15px;
                }
            }
        }

        a {
            @include m {
                font-size: 13px;
            }

            &.strong {
                font-weight: 700;
            }
        }
    }

    .link-img {
        .kakao-channel {
            display: inline-block;
            padding: 0.75em 1em;
            background: url(../images/kakao_channel_bg.svg) no-repeat right -1.5em top -2.25em #000;
            font-size: 25.6px;
            border-radius: 10px;

            &>svg {
                max-width: 3.5em;

                path {
                    fill: #fff;
                }
            }

            .text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                p {
                    white-space: nowrap;
                    padding-right: 1.75em;
                    font-size: 24px;
                    font-weight: 800;
                    color: #fff;
                    line-height: 1em;
                }

                svg {
                    font-size: 1.25em;
                }
            }
        }
    }

    .link {
        margin-top: 45px;

        @include pc {
            margin-top: 15px;
        }

        &>a {
            display: inline-block;
            position: relative;
            font-size: 17px;
            font-weight: 700;

            @include m {
                font-size: 14px;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: #000;
                transition: all .3s;
                transition-delay: .1s;
            }

            &:hover::after {
                width: 100%;
            }

            &+a {
                margin-left: 20px;
            }
        }
    }

    .sns {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 0 25px;
        justify-content: start;
        align-items: center;
        margin-top: 30px;

        @include pc {
            order: 1;
            padding-left: 0;
            margin: 30px 0 0;
        }

        li {
            display: block;
            position: relative;
            opacity: 1;
            height: 20px;
            transition: all .3s;

            &.youtube {
                height: 18px;
            }

            &:hover {
                svg {
                    fill: #e74e1d;
                }
            }
        }

        svg {
            overflow: visible;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
            object-position: center;
            transition: fill 0.2s;
        }
    }

    .link-box {
        display: inline-block;
        padding: 2px 10px 1px;
        border: 1px solid #bcbcbc;
        color: #000;
        font-size: 11px;
        font-weight: 400;
        border-radius: 20px;
        transition: all .3s;

        &:hover {
            background-color: #000;
            color: #fff;
            border-color: #000;
        }

        @include m {
            padding: 2px 6px 1px;
            font-size: 10px;
        }
    }

    .addr-area {
        font-size: 14px;
        font-weight: 500;

        @include pc {
            margin-top: 30px;
        }

        @include m {
            font-size: 12px;
        }

        p+p {
            margin-top: 3px;
        }

        span {
            @include m {
                display: block;
            }
        }

        .line {
            content: "";
            display: inline-block;
            width: 1px;
            height: 11px;
            margin: 0 10px;
            background-color: #000;

            @include m {
                display: none;
            }
        }
    }

    .text-area {
        margin-top: 15px;
        color: #1A1825;
        font-size: 12px;
        font-weight: 300;

        p {
            margin-top: 5px;
        }

        br {
            @include m {
                display: none;
            }
        }
    }

    .copy-light {
        margin-top: 37px;
        font-size: 14px;
        font-weight: 500;

        @include m {
            font-size: 11px;
        }
    }
}