.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 35;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #000;

    .header-top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #000;
        height: 42px;

        @include tb {
            display: none;
            height: 40px;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-left: auto;
            color: #fff;
            font-size: 14px;
            font-weight: 700;

            a {
                display: flex;
                align-items: center;
                transition: color 0.2s;
                font-size: 12px;

                &+a {
                    margin-left: 35px;
                }

                svg {
                    width: 18px;
                    max-height: 14px;
                    margin-right: 6px;
                    fill: #fff;
                    transition: fill 0.2s;
                }

                &:hover {
                    color: #e74e1d;

                    svg {
                        fill: #e74e1d;
                    }
                }
            }
        }
    }

    .header-bottom {
        @include tb {
            height: 60px;
        }

        &.inner {
            padding-bottom: 15px;
            margin-top: 15px;
            display: flex;
            align-items: center;

            @include tb {
                padding-bottom: 0;
                margin-top: 0;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            line-height: 1;

            a {
                display: flex;
                align-items: center;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(calc(100% + 8px), -2px);
                    width: 40px;
                    height: 14px;
                    background: url(../images/beta.svg) no-repeat 0 0;

                    @include tb {
                        transform: translate(calc(100% + 6px), -2px);
                        width: 32px;
                        height: 10px;
                    }
                }
            }

            svg {
                width: 170px;
                transition: width 0.2s;

                @include tb {
                    width: 100px;
                    height: 30px;
                }

                @include m {
                    width: 90px;
                    height: 30px;
                }
            }
        }

        .gnb {
            display: flex;
            align-items: center;
            flex: 1 1 0;
            height: 100%;
            margin-left: 120px;

            @include pc {
                margin-left: 60px;
            }

            @include tb {
                display: block;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: auto;
                position: fixed;
                top: 0;
                left: -0%;
                right: auto;
                transform: translate(100%, 0);
                z-index: 50;
                width: 100%;
                height: 100%;
                padding: 20px 0px;
                margin-left: 0;
                background-color: #000;
                transition: left .5s ease-in-out;
            }

            &.on {
                @include tb {
                    left: -100%;
                    margin-left: 0;
                }
            }

            .util {
                display: none;

                @include tb {
                    display: block;
                    padding: 0 30px;
                    margin-top: 60px;
                }

                @include m {
                    padding: 0 20px;
                }

                a {
                    @include tb {
                        display: inline-flex;
                        align-items: center;
                        padding: 0.75em 1em;
                        border: 1px solid #aaa;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 2em;
                        line-height: 1em;
                    }

                    @include m {
                        font-size: 11px;
                    }

                    svg {
                        @include tb {
                            fill: #fff;
                            margin-right: 0.5em;
                        }
                    }
                }
            }

            form {
                display: none;
                width: 100%;

                @include tb {
                    display: block;
                }

                .sch-wrap {
                    @include tb {
                        display: grid;
                        grid-template-columns: 1fr auto;
                        gap: 0 20px;
                        align-items: center;
                        padding: 0 30px;
                        margin-top: 20px;
                    }

                    @include m {
                        gap: 0 10px;
                        padding: 0 20px;
                    }
                }

                input {
                    @include tb {
                        width: 100%;
                        padding: 1em;
                        background: #000;
                        border: none;
                        border-bottom: 1px solid #fff;
                        font-size: 16px;
                        transition: border-color 0.2s;
                    }

                    @include m {
                        font-size: 14px;
                    }

                    &::placeholder {
                        color: rgb(255, 255, 255, 0.5);
                    }
                }

                .btn {
                    @include tb {
                        font-size: 20px;
                    }

                    @include m {
                        font-size: 16px;
                    }

                    svg {
                        @include tb {
                            fill: #fff;
                        }
                    }
                }
            }

            .gnb-list {
                display: flex;
                height: 100%;

                @include tb {
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin-top: 40px;
                }

                &>li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    height: 100%;
                    transition: margin 0.2s;

                    @include tb {
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 0 0px 0px;
                        font-weight: 500;
                        cursor: pointer;
                        background: #000;
                    }

                    &:first-child>a::after,
                    &.mobile-item>a::after {
                        @include tb {
                            right: 25px;
                            margin-top: -5px;
                            border-bottom: 2px solid #fff;
                            border-right: 2px solid #fff;
                            content: "";
                            display: block;
                            height: 10px;
                            pointer-events: none;
                            position: absolute;
                            top: 50%;
                            transform-origin: 66% 66%;
                            transform: rotate(45deg);
                            transition: all 0.15s ease-in-out;
                            width: 10px;
                        }
                    }

                    &.on {
                        &>a::after {
                            @include tb {
                                transform: rotate(225deg);
                            }
                        }

                        .sub {
                            bottom: 0;
                            opacity: 1;
                            pointer-events: visible;

                            @include tb {
                                display: block;
                            }

                            a {
                                opacity: 1;
                                color: #fff;
                            }
                        }
                    }

                    // &.active {
                    //     &>a::after {
                    //         transform: rotate(225deg);
                    //     }

                    //     .sub {
                    //         @include tb {
                    //             display: block;
                    //         }
                    //     }
                    // }

                    &.mobile-item {
                        display: none;

                        @include tb {
                            display: block;
                        }
                    }

                    &+li {
                        margin-left: 40px;

                        @include tb {
                            margin-left: 0;
                        }
                    }

                    &>a {
                        display: block;
                        position: relative;
                        z-index: 1;
                        font-size: 16px;
                        font-weight: 500;

                        @include tb {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            height: auto;
                            padding: 20px 30px 20px;
                            color: #fff;
                            font-size: 18px;
                        }

                        @include m {
                            padding: 15px 20px;
                            font-size: 16px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            transform: translateY(100%);
                            width: 0%;
                            height: 2px;
                            background-color: #000;
                            transition: all .3s;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                .sub {
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    opacity: 0;
                    padding: 25px 15px;
                    background-color: #000;
                    font-size: 15px;
                    white-space: nowrap;
                    text-align: center;
                    pointer-events: none;
                    transition: all .3s;

                    @include tb {
                        display: none;
                        position: static;
                        transform: none;
                        opacity: 1;
                        visibility: visible;
                        background: #141414;
                        transition: none;
                        pointer-events: visible;
                    }

                    @include m {
                        padding: 15px 10px;
                    }

                    li {
                        @include tb {
                            text-align: left;
                        }
                    }

                    a {
                        display: inline-block;
                        position: relative;
                        z-index: 2;
                        opacity: 0;
                        padding: 10px 10px;
                        transition: all .3s;
                        transition-delay: 0s;

                        @include tb {
                            display: block;
                            justify-content: flex-start;
                            opacity: 1;
                            padding-left: 50px;
                            color: #fff;
                            font-size: 16px;
                            transition: all .3s;
                        }

                        @include m {
                            padding-left: 30px;
                            font-size: 14px;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            transform: translateY(100%);
                            width: 0%;
                            height: 1px;
                            background-color: #fff;
                            transition: all .3s;
                        }

                        &:hover {
                            &::before {
                                width: calc(100% - 20px);

                                @include tb {
                                    width: 0;
                                }
                            }
                        }
                    }
                }
            }

            .language {
                margin-left: auto;

                @include tb {
                    position: absolute;
                    top: 24px;
                    left: 30px;
                }

                @include m {
                    top: 20px;
                    left: 20px;
                }

                select {
                    display: none;
                    margin-left: 4px;
                    margin-right: 4px;
                    vertical-align: baseline;
                }

                .select-box {
                    position: relative;
                    padding-left: 0;
                    border: none;
                    color: #888888;
                    font-size: 14px;
                    font-weight: 700;
                    height: 42px;
                    line-height: 40px;
                    outline: none;
                    padding-right: 30px;
                    text-align: left;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    display: block;
                    background-color: #fff;
                    border-radius: 5px;

                    @include tb {
                        height: 26px;
                        background: #000;
                        line-height: 24px;
                    }


                    &:hover {
                        color: #000;

                        @include tb {
                            color: #888888;
                        }

                        &::after {
                            border-color: #000;

                            @include tb {
                                border-color: #888888;
                            }
                        }
                    }

                    &::after {
                        right: 12px;
                        margin-top: -5px;
                        border-bottom: 2px solid #999;
                        border-right: 2px solid #999;
                        content: '';
                        display: block;
                        height: 7px;
                        pointer-events: none;
                        position: absolute;
                        top: 50%;
                        transform-origin: 66% 66%;
                        transform: rotate(45deg);
                        transition: all 0.15s ease-in-out;
                        width: 7px;
                    }

                    &.on {
                        &::after {
                            transform: rotate(-135deg);
                            border-color: #000;

                            @include tb {
                                border-color: #fff;
                            }
                        }

                        .current {
                            color: #000;
                            transition: color 0.2s;

                            @include tb {
                                color: #fff;
                            }
                        }

                        .list {
                            opacity: 1;
                            pointer-events: auto;
                            color: #000;
                            transition: color 0.2s;
                            visibility: visible;
                        }
                    }

                    .list {
                        box-sizing: border-box;
                        margin-top: 0px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        top: calc(100% + 1px);
                        transform-origin: 50% 0;
                        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
                            opacity 0.15s ease-out;
                        z-index: 9;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 15px 20px;
                        background-color: #f9f9f9;
                        border: none;
                        text-align: center;
                        box-shadow: none;
                        border-radius: 0;
                        visibility: hidden;

                        @include tb {
                            align-items: baseline;
                            left: 0;
                            transform: translateX(-10px);
                            background: #141414;
                        }

                        li {
                            display: inline-block;
                            position: relative;
                            height: auto;
                            min-height: 0;
                            padding: 0;
                            border: none;
                            color: #888888;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: center;
                            line-height: 1.5;

                            &+li {
                                margin-top: 10px;
                            }

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }

                            &.focus {
                                background-color: transparent;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                width: 0%;
                                height: 1px;
                                background-color: #888888;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }

            .close {
                svg {
                    fill: #fff;

                    @include tb {
                        display: block;
                        position: absolute;
                        top: 20px;
                        right: 28px;
                        color: #fff;
                        width: 28px;
                    }

                    @include m {
                        top: 15px;
                        right: 15px;
                    }
                }
            }
        }

        .right-btn {
            display: flex;
            margin-left: auto;
            margin-left: 75px;

            @include pc {
                margin-left: 40px;
            }

            @include tb {
                margin-left: auto;
            }

            .btn {
                display: block;
                position: relative;
                font-size: 20px;
                transition: fill 0.2s;

                @include tb {
                    width: 20px;
                }

                &+.btn {
                    margin-left: 35px;

                    @include tb {
                        margin-left: 25px;
                    }
                }

                &:hover svg {
                    fill: #e74e1d;
                }
            }

            .search-btn {
                @include tb {
                    display: none;
                }
            }

            .share-btn {
                &.active {
                    .share-icon {
                        fill: #e74e1d;
                    }

                    .share-area {
                        opacity: 1;
                        height: 275px;
                        pointer-events: inherit;

                        @include m {
                            height: 200px;
                        }
                    }
                }

                .share-area {
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: hidden;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    z-index: 3;
                    opacity: 0;
                    width: 65px;
                    height: 0px;
                    padding: 20px 0;
                    background: #e74e1d;
                    pointer-events: none;
                    border-radius: 50px;
                    transition: height 0.5s,
                        width 0s ease-in-out,
                        opacity 0.5s;

                    @include m {
                        width: 46px;
                        padding: 10px 0;
                    }

                    .box {
                        display: block;
                        width: 100%;
                        padding: 0;
                        background: none;
                        border-radius: 0;

                        a {
                            display: block;
                            opacity: 0.6;
                            padding: 12px 0;
                            color: #fff;
                            text-align: center;
                            transition: 0.2s ease-in-out;
                            line-height: 1;

                            @include m {
                                padding: 10px 0;
                            }

                            &:hover {
                                opacity: 1;
                            }
                        }

                        svg {
                            fill: #fff;
                            height: 20px;
                            width: 100%;

                            @include m {
                                height: 16px;
                            }
                        }
                    }
                }
            }

            .ham-btn {
                display: none;

                @include tb {
                    display: block;
                }
            }
        }
    }
}